.container {
    width: 900px;
}
.random-planet {
    background-color: #292929;
    border: 2px solid #292929;
    border-radius: 5px;
}
.img-content img {
    width: 185px;
    border: 2px solid #292929;
    border-radius: 10px;
}
.planet-item {
    width: 180px;
    padding: 7px;
    border-top: 2px solid #393939;
}