.person-details {
    max-height: 185px;
    background-color: #292929;
    border: 1px solid #292929;
    border-radius: 5px;
}
.person-img img {
    width: 120px;
    border: 1px solid #292929;
    border-radius: 15px;
}
.person-items {
    width: 100%;
}
.person-item {
    padding: 7px;
    border-top: 2px solid #393939;
}