.item-list {
    padding: 0 !important;
    background-color: #292929;
    border: 2px solid #393939;
    border-radius: 5px;
}
.item-list-li {
    padding: 15px;
    border-top: 2px solid #393939;
    cursor: pointer;
}
.item-list-li:hover {
    background-color: #393939;
}
.item-list-li:first-child {
    border-top: none;
}